.carousel-item {
    background-color: #FFE7C3;
    outline: solid black;
    margin: 10px;
    filter: drop-shadow(10px 10px 0px black);
    border-radius: 8px;
    min-width: 250px;
  }

.carousel-container {
  background-color: white;
}

.carousel-slider{
  padding: 10px 0px 50px 0px;
}

.item-name {
  float: left;
  font-size: medium;
  font-weight: bold;
  display: flex;
  padding: 20px 10px;
}

.item-quantity {
  float: left;
  font-size: medium;
  display: flex;
  padding: 20px 10px;
}

.date {
  float: right;
  font-size: medium;
  display: flex;
  padding: 20px 10px;
}

.recipe-title {
  font-weight: bold;
  font-size: large;
  padding: 20px;
}

.recipe-ingredients {
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border-radius: 8px 8px 0px 0px;
}

@media only screen and (max-width: 600px) {

  .carousel-item {
    min-width: none;
  }

  .item-name {
    float: none;
    padding: 10px 12px 5px 12px; 
  }
  
  .item-quantity {
    float: none;
    padding: 5px 12px 5px 12px; 
  }

  .date {
    float: none;
    padding: 5px 12px 15px 12px; 
  }

}