/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* App */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.core {
  padding: 20px;
  font-family: 'Roboto';
  min-height: 120vh;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* hide photo capture on desktop */
@media screen and (max-width: 480px) {
  .show-on-desktop {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .hide-on-desktop {
    display: none;
  }
}

/* Nav Bar */

.icon-mobile {
  display: none;
}

/* h1, h2, h3 */

h1 {
  width: 250px;
  margin: 20px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  font-size: x-large;
}

h2 {
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  font-size: large;
}

h3 {
  font-size: medium;
  margin: 10px 0 10px 0;
}

/* Tables - reports */

.table-overflow {
  overflow-x: scroll;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  overflow-x: scroll;
}

th, td {
  padding: 15px 10px;
  text-align: left;
}

th {
  font-size: 16px;
}

td {
  font-weight: normal;
  font-size: 14px;

}

.header-row {
  background-color: lightgray;
}

/* Dashboard */

.core-dashboard {
  padding: 50px 10px;
  max-width: 1500px;
  margin: 0 auto;
  background-color: white;
}

/* Edit Item Page */

.core-edit-item{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
}

.edit-image-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 30px 0 30px 0;
}

.edit-image-content h1{
  margin-top: 0;
  width: 100%;
}

.edit-img {
  border-radius: 30px;
  margin: 30px;
  max-width: 85%;
  outline: solid black;
  filter: drop-shadow(15px 15px 0px black);
  
}

.edit-content {
  float: left;
  margin: 30px;
  align-content: left;
  max-width: 100%;
}

.tag {
  background-color: black;
  color: white;
  padding: 8px;
  display: inline-block;
  border-radius: 5px;
  font-size: small;
  margin: 0 5px 5px 0;
}

.return-dashboard {
  color: grey;
}

input {
  width: 180px;
  border: solid black 1px;
  padding: 5px 15px;
}

input.edit-button {
  color: white;
  background-color: black;
  padding: 15px;
  font-size: 16px;
  margin: 8px 0 8px 0;
}

.item-info {
  margin: 20px 0 20px 0;
}


/* Recipe Page */

.no-style-select{
  margin: 10px;
  border-radius: 5px;
  height: 100px;
  inline-size: 150px;
}

  /* based on additem-core to match styling */

.addrecipe-core {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
  padding: 40px;
}

 /* all recipe-section-content based on section-content to match styling */

.recipe-section-content {
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
  padding: 40px 30px;
  margin-bottom: 20px;
  filter: drop-shadow(10px 10px 0px black);
}

.recipe-section-content form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2px;
}

.recipe-section-content label {
  margin: 20px 0 0 0;
  font-weight: bold;
}

.recipe-section-content input[type="text"],
.recipe-section-content select {
  width: 100%;
  height: 45px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  border: 1px black solid;
  background-color: white;
  padding: 5px 15px;
}

.recipe-section-content button {
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 15px 0 30px 0;
}

.recipe-section-content button[type="submit"] {
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  background-color: black;
  margin: 5px 0 0px 0;
}

.recipe-section-content button:hover {
  background-color: grey;
}

.recipe-section-content h2 {
  font-size: x-large;
}

.recipe-section-content h2[name="smaller"] {
  font-size: large;
}

.recipe-section-content p {
  font-size: medium;
  margin: 0px 0px 15px 0;
}

.grid-recipe {
  display:grid;
  grid-template-columns: 60% 35% 5%;
  grid-template-rows: 50% 50%;
  width: 100%;
  background-color:#FFE7C3;
  border-radius:20px;
  filter: drop-shadow(10px 10px 0px black);
  border:black 1px solid;
  text-align: left;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.grid-recipe-item {
  text-align: left;
  grid-row: 1 /span 2;
  grid-column: 1 /span 1;
  margin: 15px;
}

.grid-recipe-quantity {
  text-align: left;
  float: left;
  grid-row: 1 /span 1;
  grid-column: 2 /span 1;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-left: 15px;
}

.grid-recipe-measurement {
  text-align: left;
  float: left;
  grid-row: 2 /span 1;
  grid-column: 2 /span 1;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.grid-recipe-delete {
  grid-row: 1 /span 2;
  grid-column: 3 /span 1;
  margin: 1px;

}

.grid-recipe-delete button[class="recipe-delete-item-button"] {
  background-color: black;
  color: white;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 10px;
  width: 30px;
  padding: 5px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: auto;
  float: right;
}

.grid-recipe-delete button[class="recipe-delete-item-button"]:hover {
  background-color: grey;
}

textarea {
  max-width: 100%;
  border: solid 1px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding:5px;
}

textarea[class="recipe-text"] {
  max-width: 100%;
  border: solid 1px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding:5px;
  border: black solid;
}

input:not([type="submit"], [type="button"]) {
  border-radius: 5px;
  height: 25px;
}

input[type="button"] {
  width: 180px;
  background-color: #4CAF50;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  border: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 10px 10px 0;
}

input[type="submit"] {
  color: white;
  background-color: black;
  border: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 10px 10px 0;
}

input[type="number"] {
  margin: 10px 0px;
  margin-right: 100%;
}

.recipe-button {
  width: 200px;
  border: solid black;
  padding: 5px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 16px;
}

 /* all recipe-section-content based on section-content to match styling */

 .recipe-section-content button[class="recipe-add-button"] {
  align-self: center;
  background-color: black;
  color: white;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 2px;
  width: 110px;
  padding: 5px;
}

.recipe-section-content button[class="recipe-delete-step-button"] {
  align-self: center;
  background-color: black;
  color: white;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 2px;
  width: 110px;
  padding: 5px;
  margin-left: 10px
}

.recipe-section-content button[class="recipe-add-button"]:hover {
  background-color: grey;
}

.recipe-section-content button[class="recipe-delete-step-button"]:hover {
  background-color: grey;
}

select {
  margin: 10px 10px 10px 0;
  border-radius: 50px;
  height: 45px;
  width: 150px;
  border: 1px black solid;
  padding: 5px 15px;
}

.grid-recipe-item select[class="recipe-select-ingredient"] {
  width: 100%;
  height: 80%;
  margin: 10px;
  border-radius: 3px;
  border: 1px black solid;
  background-color: white;
  padding: 5px 15px;
}

input[class="recipe-quantity"] {
  text-align: center;
}

/* Add Item Page */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.additem-core {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
  padding: 40px;
}


/* Manual Entry */

.manual-entry {
  width: 100%;
  margin: 30px 0 30px 0;
}

.section-content {
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
  padding: 40px 30px;
  margin-bottom: 20px;
  filter: drop-shadow(10px 10px 0px black);
}

.section-content form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2px;
}

.section-content label {
  margin: 20px 0 0 0;
  font-weight: bold;
}

.section-content input[type="text"],
.section-content input[type="number"],
.section-content input[type="date"],
.section-content select {
  width: 100%;
  height: 45px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  border: 1px black solid;
  background-color: white;
  padding: 5px 15px;
}

.all-tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.tag-select {
  display: flex;
  width: 150px;
}

.tag-select input[type="checkbox"]{
  margin: 10px;
  width: 20px;
  height: 20px;
}

.tag-select label {
  margin: 0;
  padding: 10px;
  align-content: center;
  font-size: small;
  font-weight: 400;
}

.section-content input[type="submit"] {
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  background-color: black;
  margin: 30px 0 60px 0;
}

.section-content input[type="submit"]:hover {
  background-color: #000000;
}

.section-content button {
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 30px 0 60px 0;
}

.section-content h2 {
  font-size: x-large;
}

.section-content p {
  font-size: medium;
  margin: 10px 0 10px 0;
}

/* Barcode Scanning */

.barcode-scanning {
  width: 100%;
  position: relative; 
  margin: 30px 0 60px 0;
}

button.button-scan-button {
  padding: 15px;
}

.barcode-scanning button {
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  background-color: black;
}

.barcode-scanning button:hover {
  background-color: #000000;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 800px;
  position: relative;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.scanner-view {
  width: 100%;
  height: 80vh;
  max-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-scanned-message {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  z-index: 1001;
}

.product-details {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 40px;
  overflow-x: scroll;
}

.product-details h3 {
  margin-bottom: 15px;
}

.product-details table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.product-details th,
.product-details td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.product-details th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.product-details img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.product-details td:last-child {
  position: relative;
  height: 100%;
}

.product-details td button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.product-details td button:hover {
  background-color: #45a049;
}

/* Photo or Image Upload */

input[type="file"]{
  border: none;
  padding: 20px 0 20px 0;
  height: fit-content;
  width: 300px;
  align-content: center;
}

button[class="upload-button"]{
  width: 200px;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid black;
  color: white;
  background-color: black;
}

/* Food Shelf Life Guidelines */

.spoilage-all{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 30px 0 30px 0;
}

.spoilage-section-category-1{
  width: 100%;
  margin-bottom: 30px;
}

.spoilage-section-category-2{
  width: 100%;
  margin-bottom: 30px;
}

.spoilage-section-product{
  background: #FFE7C3;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
}

.spoilage-all h1{
  width: 100%;
  height: fit-content;
  margin-top: 0;
}

.spoilage-all h2{
  width: 100%;
  height: fit-content;
}

.spoilage-all h4{
  margin: 20px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  font-size: medium;
}

.spoilage-all p{
  margin: 10px 0 10px 0;
}

.spoilage-section-product button{
  margin: 3px;
  width: fit-content;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid black;
  color: white;
  background-color: black;
}

select[name="spoilage-select"]{
  width: 100%;
  height: 45px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  border: 1px black solid;
  background-color: white;
  padding: 5px 15px;
}

/* Components: Item Carousel and Recipe Carousel */

.carousel-item {
  background-color: #FFE7C3;
  outline: 1px solid black;
  margin: 10px;
  filter: drop-shadow(10px 10px 0px black);
  border-radius: 8px;
  max-width: 250px;

}

.carousel-container {
  background-color: white;
  margin-bottom: 60px;
}

.carousel-slider{
  padding: 10px 0px 50px 0px;
}

.carousel-image {
  border-radius: 8px 8px 0 0;
}

.item-name {
  float: left;
  font-size: medium;
  font-weight: bold;
  display: flex;
  padding: 20px 10px;
}

.item-quantity {
  float: left;
  font-size: medium;
  display: flex;
  padding: 20px 10px;
}

.date {
  float: right;
  font-size: medium;
  display: flex;
  padding: 20px 10px;
}

.recipe-title {
font-weight: bold;
font-size: large;
padding: 20px;
}

.recipe-ingredients {
padding: 20px;
}

a {
text-decoration: none;
color: black;
}




/* phone, small display specific values */

@media only screen and (max-width: 600px) {
  
  .core {
    min-height: 150vh;
  }

  /* Carousel */
  .carousel-item {
    min-width: none;
  }
  
  .item-name {
    float: none;
    padding: 10px 12px 5px 12px; 
  }
  
  .item-quantity {
    float: none;
    padding: 5px 12px 5px 12px; 
  }
  
  .date {
    float: none;
    padding: 5px 12px 15px 12px; 
  }

  /* Add Item Page */

  .additem-core{
    padding: 30px 20px;
  }
  
  /* Edit Page */
  .edit-image-content {
    display: grid;
    grid-template-rows: .25fr 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 30px 0 30px 0;
  }
  
  .edit-img {
    margin: auto;
    max-width: 80%;
  }
  
  .edit-content {
    margin: 50px;
    align-content: center;
    max-width: 100%;
  }

  /* Mobile Nav Bar */

  .nav-links-mobile {
    display: none;
  }

  .icon-container {
    display: block;
    background-color: #FFE7C3;
    height: 60px;
  }

  .icon-mobile {
    display: block;
    float: right;
    padding: 15px;
    background-color: #FFE7C3;
    color: black;
    height: 60px;
    
  }


  }

/* view_recipe page */

.view-core {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
  padding: 40px;
}
  
.view-section-content {
  border: 1px solid black;
  background-color: #FFE7C3;
  border-radius: 8px;
  padding: 40px 30px;
  margin-bottom: 20px;
  filter: drop-shadow(10px 10px 0px black);
}

.view-section-category-1{
  width: 100%;
  margin-bottom: 10px;
}

.view-section-category-1 p {
  margin-left:20px;
}
  
.view-section-category-2 {
  width: 100%;
  margin-bottom: 10px;
}

.view-section-category-2 ul li {
  margin-left: 30px;
  margin-bottom: 5px;
}
  
.view-section-category-3 {
  width: 100%;
}

/*
source-cited: https://stackoverflow.com/questions/26025057/add-custom-text-to-ordered-list-li
start citation - add-custom-text-to-ordered-list-li
*/
.view-section-category-3 ol {
  list-style-type: none;
  counter-reset: stepcounter;
}

.view-section-category-3 li:before {
  content: 'Step ' counter(stepcounter) ":";
  counter-increment: stepcounter;
  font-weight: bold;
}
/* end citation - add-custom-text-to-ordered-list-li*/

.view-section-category-3 ol li {
  margin-bottom: 20px;
  margin-left: 15px;
}

.view-section-category-3 ol li p {
  margin-left: 20px;
}

.view-section-content label {
  margin: 20px 0 0 0;
  font-weight: bold;
}
  
.view-section-content button {
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 30px 0 0 0;
}
  
.view-section-content h2 {
  font-size: x-large;
}
